language: java
before_install:
  - chmod +x gradlew
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
deploy:
  - provider: releases
    api_key:
      secure: PTJwXc9yCc+8JdmpuL1z22a2WhNGyrZnsK06LZa4aJ1+vBzaNiKdijArymQsccn+E2GCfGW3H8O4OxqYWveh4DN8jZuzSdoZxiK3sEa91I+Iop6bc0zAHIZCB62v8kZlJGEf66CipC0BEGw3G73AUtS0s6sHUjU2hL8pW2iCzGY1S3NUsheQg2oR+VHRP9VXj5BkwiimFYuvvl/L7bwAgVQu8JKvtNwZpjGQwIxQWXI072dBbfk1hbDl3a+X3Yu+3EQoEe1oTHTkflFTxqpc1qrzzM3eSbqPf2grGTIyoxNvEvZl5xts5/5ajOB2N89m+cPNcnBmnDB4vwpjcItZkX/8ZPJmzTZ8kP77CUPKoYyxMUHNPbaX0YgOlEv2OcBcM5CkgG8GLFLLI5V/XscqkgyB73ImYow/jSnxwQJ+vHwTIZyE9Kkl4IocYYOkZpQqoqn4ytETHsAaWaQEemUUOREIFErrX74+Tjz/1dy0g4UNKTI13l3tNzxG37JkWzF+BCIT/73sxTtL0PwjPZbcMVK4ycEwselvRrfe7qHEXdEcH5pGEZhxJWJXDueUPo+zn70gxG9sjVgKUcQ7+cGF2TepwG+oMQEjYMYKXiFhj/kJbNmq2ZSmGipxVvBkwhJDEs6uSxWESW+SsXLE1hQj7tI1DCYy8ht6RJmzrKHSS+c=
    file_glob: true
    file: out/libs/*
    skip_cleanup: true
    on:
      tags: true
  - provider: script
    script: ./gradlew bintrayUpload
    skip_cleanup: true
    on:
      tags: true
notifications:
    slack:
      secure: 5AmurtdlZzyogJiqDKlMUdLxG7OUAyAE+f9Oqm0yoUD/GyMZoBLGhcy0a/AB4UNH8zsjSM+TKAEiGo6tJC/erJlwbrztI2UJOBCffRp0j578jkTFw5k/tq2MHzeu02ny2878PBmAc1Xx0C8kKMphnaZYFVDoFEbbVaAxIq4hWeF8QV8GgapT3RsSqnq6fmwuAZFs2CYxgdZnyutzNbz8l5qRlS+tAjnC4/Nb1eQvBZFMt0J8rPTxUa4JkvhHO04Eyl/AFh9iM7R5C2lEpRtplMrZ1LGJpUq516u1YGyVUSLsVWdFIIrQd3HkX9EpZKizGxIMiecy3b5mcu0WaYlKZZVqAuSg6sAeOx5Iazn+EEn/ks4uuLDF/tpKkIiYuoQcCfHSXlr6eqouCmwxeAVTBfelz1aGZ4AjPVNhYFaWn1U1Y2aa1UpUpEMGuooKlsfnZKBygVrE5khnme/gzDQ1pyA4YK60o361ATpK82jtQL1IlI2RPVWGHQBOG3gwgYrPQKy0AYU6E/Hi7H9eSruNi5sMpn7Fb1XmxFoVHFsG9B0/BlZdBPv5YnVW2XqO9Xj/bOjFeZUcSMxpM/mEQfCwdML+4MCfkF9IKIsZOcNn7HO7qbylsxzwNR0LqvgnJq2g8mu3KhmnA5PdIOkRr83o1YEQ7kLZFRXUIzirdkAGXJk=